form{
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    gap:24px;

    label{
        padding:16px;
        background-color:#faa2c1;
        color:#ffffff;

        input[type=file]{
            display:none;
        }
    }
}
