/* login.html */
body{
    font-family:'Noto Sans JP', sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}

div#wrap{
    display:flex;
    align-items:center;
    justify-content:center;
}

.login{
}

.login > a{
    cursor:pointer;
    border:none;
    padding:0;
    background:none;
}

.login > a > img{
    width:192px;
    height:auto;
}
