<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>授業 | Eas</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lesson/class.css">
</head>

<body>

    <!-- 字幕 -->
    <div class="subtitle">
        <div class="subtitle-container">
            <p>授業をはじめます</p>
            <p>授業をはじめます</p>
            <p>授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます授業をはじめます</p>
            <p>授業をはじめます</p>
        </div>
    </div>

    <!-- 問題確認・作成 -->
    <div class="test">
        <div class="testList">
            <div class="test-container">
                <h3>問題1</h3>
            </div>
        </div>
        <button>
            問題を作成する
        </button>
    </div>

    <!-- 生徒のリスト -->
    <div class="list">
        <ul class="list-container">
            <li>
                <div class="list-number">1</div>
                <div class="list-name">山下達郎</div>
            </li>
            <li>
                <div class="list-number">2</div>
                <div class="list-name">山下達郎</div>
            </li>
            <li>
                <div class="list-number">2</div>
                <div class="list-name">山下達郎</div>
            </li>
            <li>
                <div class="list-number">3</div>
                <div class="list-name">山下達郎</div>
            </li>
            <li>
                <div class="list-number">4</div>
                <div class="list-name">山下達郎</div>
            </li>
            <li>
                <div class="list-number">5</div>
                <div class="list-name">山下達郎</div>
            </li>
        </ul>
    </div>

    <div class="outButton">
        <button>退出する</button>
    </div>

</body>

</html>