<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ホーム | Eas</title>
    <title>授業選択 | Eas</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/lesson/roomselect.css">

    <!-- Google Fonts -->
    <script>
        (function(d) {
            var config = {
                    kitId: 'fcl7ixt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e169475605.js" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="/js/main.js"></script>
    
    <!-- back_js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
	<script src="/js/roomselect.js"></script>

</head>

<body>
	
	<!-- ユーザー名、ログアウト -->
    <header>
        <h2 th:text="${session_name} + さん"></h2>
        <form th:action="@{/logout}" method="post">
			<button type="submit" class="btn btn-outline-dark">ログアウト</button>
		</form>
    </header>

    <div class="navigation">
        <div><img src="/images/eas_logo.svg" alt="Eas"></div>
        <nav>
            <ul>
                <li><a href="#">ホーム</a></li>
                <li><a href="#">問題作成</a></li>
                <li><a href="#">提出状況確認</a></li>
                <li class="active"><a href="/roomselect">授業選択</a></li>
                <li><a href="#">生徒入退出確認</a></li>
            </ul>
        </nav>
    </div>
    
    <main>
        <!-- 学年 -->
        <h2>学年を選択</h2>
        <div class="grade">
			<div th:each="list_schoolyear : ${list_schoolyear}" id="list_schoolyear">
				<div>
					<button type="button" class="gradel_btn" th:text="${list_schoolyear} + 年" th:value="${list_schoolyear}"  th:data-parameter1="${list_schoolyear}" th:onclick="clickGrade(this.getAttribute('data-parameter1'))"></button>
				</div>
			</div>
		</div>

        <div id="big_list_selectclass">
			<div id="small_list_selectclass">
				<div th:each="list_classEntity : ${list_classEntity}" th:object="${list_classEntity}" class="bigsmall_list_selectclass">
					<button type="submit" th:text="*{schoolclass} + 組" class="list_class gradel_btn" th:data-parameter1="*{classid}" th:onclick="GetAction_Class(this.getAttribute('data-parameter1'))"></button>
				</div>
			</div>
		</div>
        
    </main>
    
    <!-- radioボタンverデザイン -->
    <!-- <main>  
        <h2>学年を選択</h2>
        <div class="grade" th:each="list_schoolyear : ${list_schoolyear}" id="list_schoolyear">
            <input id="grade1" type="radio" name="grade" class="radiobutton">
            <label for="grade1">1</label>
        </div>

        <h2>クラスを選択</h2>
        <div class="class">
            <input id="class1" type="radio" name="class" class="radiobutton">
            <label for="class1">1</label>
        </div>
        <div class="class-button">
            <button onClick="location.href='/class'">授業へいく</button>
        </div>
    </main>-->

   
</body>

</html>