main{
    padding:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:4em;

    a{
        width:320px;
        letter-spacing:0.1em;
        background-color:#ffffff;
        padding:4em 0;
        text-align:center;
        vertical-align:middle;
        font-size:18px;
        text-decoration:none;
        color:#fcc2d7;
        border-radius:16px;
        transition:transform 0.2s ease 0s;
        transition:all 0.5s ease 0s;

        &:hover{
            transform:translateY(-8px);
            box-shadow:#fcc2d76c 0 24px 24px;
            background-color:#fcc2d7;
            color:#ffffff;
        }
    }
}
