@charset "utf-8";

/* 共通のスタイル */
body{
	background-color: #FEF5F6;
	font-family: 'Noto Sans JP', sans-serif;
}
div#wrap{
	width: 100%;
	height: 100vh;
}
input{
	font-family: 'Noto Sans JP', sans-serif;
}