@charset "utf-8";

/* 共通のスタイル */

body {
    background-image: url('/images/gura.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 30vh 1fr;
    grid-template-rows: 8vh 1fr;
    grid-template-areas: "navi header""navi main";
    height: 100vh;
    padding: 24px;
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
}

header {
    grid-area: header;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
    letter-spacing: 0.1em;
    button {
        letter-spacing: 0.1em;
        padding: 8px 24px;
        background-color: #FFF;
        border: none;
        border-radius: 100vh;
        color: #FAA2C1;
        box-shadow: #faa2c13a 0 4px 40px;
    }
}

$shadow: #e7e2f75d 0 24px 40px;
//ナビ
.navigation {
    grid-area: navi;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 48px 24px;
    border-radius: 40px;
    box-shadow: $shadow;
    //ロゴ画像
    div {
        align-self: center;
        text-align: center;
        margin-bottom: 48px;
    }
    nav {
        flex: 1;
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
                border-radius: 100vh;
                a {
                    display: block;
                    text-decoration: none;
                    color: #000;
                    font-size: 14px;
                    padding: 20px 24px;
                    letter-spacing: 0.05em;
                }
            }
            .active {
                background-color: #FFF0F6;
                border-radius: 100vh;
                box-shadow: #faa2c165 0 16px 40px;
                a {
                    color: #FAA2C1;
                }
            }
        }
    }
}

//コンテンツエリア
main {
    grid-area: main;
}