$shadow: 24px 24px 40px rgba(231, 226, 247, 0.5);
main {
    padding: 0 80px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    h2 {
        letter-spacing: 0.2em;
        margin-right: -0.2em;
    }
    div {
        display: flex;
        justify-content: space-between;
        .radiobutton {
            display: none;
            cursor: pointer;
        }
        label {
            padding: 40px 64px;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 8px;
            font-size: 16px;
            box-sizing: border-box;
            border: #fcc2d700 4px solid;
            transition: 0.5s;
            &:hover {
                border: #FCC2D7 4px solid;
                transition: 0.5s;
            }
        }
        .radiobutton:checked+label {
            background-color: #FCC2D7;
            color: #fff;
            box-shadow: $shadow;
        }
    }
    //ボタン
    .class-button {
        align-self: center;
        button {
            font-weight: 700;
            padding: 16px 80px;
            border: none;
            background-color: #fff;
            color: #FAA2C1;
            border-radius: 100vh;
            cursor: pointer;
            letter-spacing: 0.2em;
            margin-right: -0.2em;
            box-shadow: $shadow;
            transition: 0.3s;
            &:hover {
                transition: 0.3s;
                background-color: #faa2c1;
                color: #fff;
            }
        }
    }
}