html {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

body {
    background-image: url("/images/gura.jpg");
    background-size: cover;
    padding: 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 16px;
    text-align: end;
}

.homeworkContainer {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    //タブメニュー
    .tabWrapper {
        align-self: center;
        .tab {
            display: flex;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 24px;
            cursor: pointer;
            border-radius: 16px;
            li {
                list-style: none;
                width: 8em;
                padding: 24px 48px;
                box-sizing: content-box;
                text-align: center;
                border-radius: 16px;
            }
            .active {
                background-color: #FFDEEB;
            }
        }
    }
    //タブの中身
    .tabContainer {
        flex: 1;
        .tabContent {
            display: none;
        }
        .active {
            display: block;
        }
        .homeworkPlay {
            display: flex;
            //一つの課題↓
            ul {
                flex-basis: auto;
                display: flex;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 24px;
                font-size: 16px;
                border-radius: 24px;
                li {
                    list-style: none;
                }
                .playSubject {
                    width: 4em;
                }
                .playTitle {
                    width: 8em;
                }
                .playButton {
                    button {
                        cursor: pointer;
                        position: relative;
                        $circle: 80px;
                        border: none;
                        width: $circle;
                        height: $circle;
                        line-height: $circle;
                        text-align: center;
                        border-radius: 50%;
                        background-color: #FFDEEB;
                        border: 10px solid #FFF0F6;
                        // box-sizing: content-box;
                        img {
                            width: 24px;
                            height: auto;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    button::before {
                        content: "";
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        display: block;
                        width: calc(100% + 4px);
                        height: calc(100% + 4px);
                        background-color: #ffafcf;
                        filter: blur(40px);
                        transform: translateY(10px);
                        box-shadow: none;
                        z-index: -1;
                    }
                }
            }
        }
        .homeworkHistory {}
    }
}